body {
    font-family: 'Roboto', sans-serif; /* ใช้ฟอนต์ Roboto */
    background-color: #f4f4f4; /* เพิ่มสีพื้นหลัง body */
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center; /* จัดหัวเรื่องให้อยู่ตรงกลาง */
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* จัดให้ card อยู่ตรงกลาง */
}

.card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    cursor: grab;
}

.hide {
    display: none;
}

.drag-over {
    border: 2px dashed #000;
}

.card h2 {
    color: #333;
    margin-bottom: 15px;
}

.card .item {
    border-bottom: 1px solid #eee; /* เพิ่มเส้นแบ่งระหว่าง item */
    padding: 10px 0; /* ปรับ padding ให้ห่างจากขอบบนล่าง */
}

.card .item:last-child {
    border-bottom: none; /* ไม่ต้องมีเส้นแบ่งสำหรับ item สุดท้าย */
}

.card .item .id {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block; /* ให้ id อยู่ในบรรทัดเดียวกับเนื้อหาอื่น */
    width: 20px; /* ปรับความกว้างของ id ตามต้องการ */
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}

.card .item .content p {
    margin: 5px 0; /* ปรับระยะห่างระหว่างบรรทัดใน content */
    font-size: 14px;
    color: #555;
}

.card-content.collapsed .item {
    display: none;
}

.drag-over {
    border: 2px dashed #000;
}
