<!DOCTYPE html>
<html>
<head>
    <title>Data Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta http-equiv="refresh" content="3" >
</head>
<body>
    <h1>Fetched Data</h1>
    <div class="container">
      {% for source, stations in data.items() %}
      <div class="card" draggable="true" data-card-id="{{ source }}">
        <div class="card-header">
          <h2>{{ source }}</h2>
          <!-- <button class="toggle-button">Toggle</button>  -->
        </div>
        <!-- <div class="card-content"> -->
          {% for station in stations %}
            <div class="item" data-item-id="{{ station.id }}">
              <div class="id">{{ station.id }}</div>
              <div class="content">
                <p>Station Name: {{ station.station_name }}</p>
                <p>Result: {{ station.result }}</p>
                <!-- <p>Timestamp: {{ station.timestamp }}</p> -->
              </div>
            </div>
          {% endfor %}
        </div>
      <!-- </div> -->
      {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>