<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:white;">

<div class="navbar">
  <a href="/">Home</a>
  <a href="/realtime">RealTime</a>
  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/history">History</a>
    </div>
  </div> 
</div>

<h1>Summary</h1>
{% for group, summary in summary.items() %}
<div class="group-summary">
    <h2>{{ group }}</h2>
    <div class="summary-bar">
        <div id="offline" class="summary-item">{{ summary.offline }}
          <p>offline</p>
        </div>
  <div id="online" class="summary-item">
    <div class="online-text">{{ summary.online }}
          <p>online</p>
    </div>
          <div id="test" class="summary-item">{{ summary.test }}
            <p>test</p>
          </div>
          <div id="pass" class="summary-item">{{ summary.pass }}
            <p>pass</p>
          </div>
          <div id="fail" class="summary-item">{{ summary.fail }}
            <p>fail</p>
          </div>
          <div id="abort" class="summary-item">{{ summary.abort }}
            <p>abort</p>
          </div>
      </div>
    </div>
</div>
{% endfor %}
<div class="container">
    <a href="/realtime">
        <img src="{{ url_for('static', filename='Layout-room.png') }}" alt="Room Layout" class="layout-img">
    </a>
</div>

<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}

document.addEventListener('DOMContentLoaded', () => {
    fetchData();
    setupAutoRefresh(3 * 60 * 1000); // 3 นาที
});
</script>

</body>
</html>
