<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:white;">

<div class="navbar">
  <a href="/">Home</a>
  <a href="/realtime">RealTime</a>
  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/history">History</a>
    </div>
  </div> 
</div>

<h1>Real Time</h1>
<div class="summary-bar">
  <div id="offline" class="summary-item">{{ summary.offline }}
    <p>offline</p>
  </div>
  <div id="online" class="summary-item">
    <div class="online-text">{{ summary.online }}
      <p>online</p>
    </div>
    <div id="test" class="summary-item">{{ summary.test }}
      <p>test</p>
    </div>
    <div id="pass" class="summary-item">{{ summary.pass }}
      <p>pass</p>
    </div>
    <div id="fail" class="summary-item">{{ summary.fail }}
      <p>fail</p>
    </div>
    <div id="abort" class="summary-item">{{ summary.abort }}
      <p>abort</p>
    </div>
</div>
</div>
<div class="container">
    {% for source, stations in data.items() %}
    <div class="card" draggable="true" data-card-id="{{ source }}">
        <div class="card-header">
            <h2>{{ source }}</h2>
            <p>URL : <a href="{{ urls_data[source] | remove_suffix }}" target="_blank">{{ urls_data[source] | remove_suffix }}</a></p>
            <p class="summary"></p>
        </div>
        <div class="card-content">
            {% for station in stations %}
            <div class="item" data-item-id="{{ station.id }}" style="background-color: {% if station.result == 'PASSED' %}lightgreen{% elif station.result == 'FAILED' %}lightcoral{% elif station.result == 'ABORTED' %}lightblue{% elif station.station_name == 'offline' %}white{% else %}orange{% endif %};">
                <div class="id">{{ station.id }}</div>
                <div class="content">
                    <p>Station Name: {{ station.station_name }}</p>
                    <p>Result: {{ station.result }}</p>
                    <p>Test time: {{ station.display }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
