<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:white;">

<div class="navbar">
  <a href="/">Home</a>
  <a href="/realtime">RealTime</a>
  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/history">History</a>
    </div>
  </div> 
</div>

<h1>Real Time</h1>

<div class="dropdown">
  <label for="family-select">Choose a family:</label>
  <select id="family-select">
    <option value="all">All</option>
    {% for family in urls_data.keys() %}
    <option value="{{ family }}">{{ family }}</option>
    {% endfor %}
  </select>
  <button onclick="fetchData()">Go</button>
</div>

<!-- <div class="summary-bar">
  <div id="offline" class="summary-item">
    <p>offline</p>
    <span>{{ summary.offline }}</span>
  </div>
  <div id="online" class="summary-item">
    <div class="online-text">
      <p>online</p>
      <span>{{ summary.online }}</span>
    </div>
    <div id="test" class="summary-item">
      <p>test</p>
      <span>{{ summary.test }}</span>
    </div>
    <div id="pass" class="summary-item">
      <p>pass</p>
      <span>{{ summary.pass }}</span>
    </div>
    <div id="fail" class="summary-item">
      <p>fail</p>
      <span>{{ summary.fail }}</span>
    </div>
    <div id="abort" class="summary-item">
      <p>abort</p>
      <span>{{ summary.abort }}</span>
    </div>
  </div>
</div> -->

<div class="container" id="data-container">
  <!-- ข้อมูลจาก API จะมาแสดงที่นี่ -->
</div>

<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}

function fetchData() {
  const family = document.getElementById("family-select").value;
  fetch(`/realtime_data?family=${family}`)
    .then(response => response.json())
    .then(data => {
      // อัปเดตข้อมูลในหน้าจอ
      document.getElementById("data-container").innerHTML = renderCards(data.stations);
    });
}

function renderCards(stations) {
  return stations.map(station => `
    <div class="card" draggable="true" data-card-id="${station.source}">
        <div class="card-header">
            <h2>${station.source}</h2>
            <p>URL : <a href="${truncateUrl(station.url)}" target="_blank">${truncateUrl(station.url)}</a></p>
            <p class="summary"></p>
        </div>
        <div class="card-content">
            ${station.items.map(item => `
              <div class="item" data-item-id="${item.id}" style="background-color: ${getColor(item.result)};">
                <div class="id">${item.id}</div>
                <div class="content">
                    <p>Station Name: ${item.station_name || 'offline'}</p>
                    <p>Result: ${item.result || 'offline'}</p>
                    <p>Test time: ${item.display || 'offline'}</p>
                </div>
              </div>
            `).join('')}
        </div>
    </div>
  `).join('');
}

function truncateUrl(url) {
  return url.replace('get_all_process_stations_ui/', '');
}

function getColor(result) {
    switch(result) {
        case 'PASSED': return 'lightgreen';
        case 'FAILED': return 'lightcoral';
        case 'ABORTED': return 'lightblue';
        case '': return 'orange';
        default: return 'white';
    }
}

</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
