body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.layout-img {
    max-width: 100%;
    height: auto;
}

/* Navigation Bar Styles */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Card Styles */
.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    cursor: grab;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-header {
    margin-bottom: 15px;
}

.card h2 {
    color: #333;
    margin-bottom: 15px;
}

.card .item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.card .item:last-child {
    border-bottom: none;
}

.card .item .id {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    width: 20px;
    text-align: center;
}

.card .item .content p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.card-content.collapsed .item {
    display: none;
}

.drag-over {
    border: 2px dashed #000;
}
